body {
  background: url("http://static.hdw.eweb4.com/media/wallpapers_1920x1080/meme/1/1/nyan-cat-meme-hd-wallpaper-1920x1080-2441.jpg") silver;
  background-size: 100%; }

.container {
  background: lightblue;
  -webkit-box-shadow: inset -24px 8px 92px 4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset -24px 8px 92px 4px rgba(0, 0, 0, 0.48);
  box-shadow: inset -24px 8px 92px 4px rgba(0, 0, 0, 0.48);
  border: 1px dotted black;
  margin: 10px auto;
  width: 720px;
  padding: .5em;
  border-radius: 5px; }
  .container a {
    text-decoration: none; }
  .container .blog-post {
    font-size: 10px; }
  .container h1 {
    -webkit-box-shadow: inset -8px 7px 16px 0px #293d3d;
    -moz-box-shadow: inset -8px 7px 16px 0px #293d3d;
    box-shadow: inset -8px 7px 16px 0px #293d3d;
    margin: auto;
    padding: auto;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px; }
  .container p {
    font-size: 20px;
    margin: auto;
    padding: 10px auto;
    width: 70%;
    text-align: center; }
  .container .errors, .container #login {
    margin: auto;
    padding: 20px 0; }
  .container .new-user, .container #login {
    margin: auto;
    padding: 20px 0; }
    .container .new-user input, .container #login input {
      display: block;
      margin-bottom: 1em; }

.back a {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 20px; }
.back a:hover {
  color: white;
  background: black; }

#nav-container {
  background: rgba(255, 191, 0, 0.8);
  width: 720px;
  margin: 10px auto;
  padding: 1px .5em;
  text-align: center; }
  #nav-container nav ul {
    padding: 0; }
    #nav-container nav ul li {
      list-style: none;
      display: inline; }
      #nav-container nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: red;
        margin-right: 2em; }
