<div class="container">
  <h1>Edit This Post</h1>

  <form action="/posts/<%=@post.id%>/edit" method="post">
  	<input type="hidden" name="_method" value="put">
    <%= erb :"posts/_form", :locals => { :post => @post, :tag => @tags } %>
    <input type="submit" value="Blog it!">
  </form>
</div>